In [1]:
import nibabel as nib
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sb
from scipy import stats

In [2]:
def get_even_num(num=63):
    runs = []
    evens = []
    j = 0
    for i in range(num):
        if (i != 0) & (i != 2):
            if i % 2 == 0:
                evens.append(str(i))
                j += 1
                if j == 5: 
                    runs.append(evens)
                    evens = []
                    j = 0
    return runs

In [14]:
def get_minus_num(base_runs):
    li = []
    for i in range(len(base_runs)):
        li.append([[base_runs[i][1],base_runs[i][0]], [base_runs[i][3],base_runs[i][0]], [base_runs[i][1],base_runs[i][3]]])
    return li

In [4]:
data_path = "/Users/chikakoolsen/opt/python/thesis/code/tdcs_thesis/data/"
# data_path = "/Users/mriworkshop/Documents/TDCS/code/tdcs_thesis/data/"
save_path = data_path+"raw/"
sub_path_40 = data_path+"external/R21_40_Sphere"
sub_path_41 = data_path+"external/R21_41_Sphere"
sub_path_42 = data_path+"external/R21_42_SphereProto3"
sub_path_43 = data_path+"external/R21_43_Sphere_Proto3"
sub_path_44 = data_path+"external/R21_44_Sphere_Proto3"
#cwd_path = sub_path+"/NIFTI/bmaps_numpy/"
# tes = [2.46, 4.61, 7.09, 10.5, 15.0, 20.0, 24.5, 29.0, 33.5, 38.0, 42.5, 47.0]

base_runs = get_even_num()
bp = [['6','4'],['10','4'],['6','10']],[['16','14'],['20','14'],['16','20']],[['26','24'],['30','24'],['26','30']],[['36','34'],['40','34'],['36','40']],[['46','44'],['50','44'],['46','50']],[['56','54'],['60','54'],['56','60']]

In [5]:
base_runs

[['4', '6', '8', '10', '12'],
 ['14', '16', '18', '20', '22'],
 ['24', '26', '28', '30', '32'],
 ['34', '36', '38', '40', '42'],
 ['44', '46', '48', '50', '52'],
 ['54', '56', '58', '60', '62']]

In [6]:
bp

([['6', '4'], ['10', '4'], ['6', '10']],
 [['16', '14'], ['20', '14'], ['16', '20']],
 [['26', '24'], ['30', '24'], ['26', '30']],
 [['36', '34'], ['40', '34'], ['36', '40']],
 [['46', '44'], ['50', '44'], ['46', '50']],
 [['56', '54'], ['60', '54'], ['56', '60']])

# Extract Data

## 1. fmap mean of 5 runs

In [14]:
def extract_mean(sub_path, experiment):
    print(sub_path)
    cwd_path = sub_path+"/NIFTI/bmaps_numpy/"
    result = pd.DataFrame()
    for m in range(len(base_runs)):   
        tdir = cwd_path+bp[m][0][0]+"minus"+bp[m][0][1]+"/"
        theory_img = nib.load(tdir+"Bvals.nii")
        theory_data = theory_img.get_data()
        sp = theory_data.shape
        b_data = []

        for i in range(sp[0]):
            for j in range(sp[1]):
                for k in range(sp[2]):
                    b_data.append([experiment, m+1, i, j, k, theory_data[i][j][k]])

        b_df = pd.DataFrame(b_data, columns=['exp', 'mini_exp', 'i', 'j', 'k', 'theory'])

        df = pd.DataFrame()
        for n in range(len(base_runs[m])):
            bdir = cwd_path+"base_run_"+base_runs[m][n]+"/"
            print(base_runs[m][n])

            new_data = []      
            fmap_img = nib.load(bdir+"4d_fmap_Mean.nii.gz")
            fmap_data = fmap_img.get_data()
            sp = fmap_data.shape            
            col = "mean"+str(n)

            for i in range(sp[0]):
                for j in range(sp[1]):
                    for k in range(sp[2]):
                        new_data.append([experiment, m+1, i, j, k, fmap_data[i][j][k]])

            new_df = pd.DataFrame(new_data, columns=['exp', 'mini_exp', 'i', 'j', 'k', col])
            if n == 0:
                df = new_df
            else:
                df = df.merge(new_df, on=['exp', 'mini_exp', 'i', 'j', 'k'], sort=False)


#         df = df.merge(b_df, on=['exp','mini_exp', 'i', 'j', 'k'], sort=False)
        result = result.append(df, ignore_index=True)
    return result

In [15]:
result_40 = extract_mean(sub_path_40, '40')

/Users/chikakoolsen/opt/python/thesis/code/tdcs_thesis/data/external/R21_40_Sphere/
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62

In [16]:
print(result_40.shape)

(1081344, 10)

In [17]:
result_40

        exp  mini_exp   i   j   k  mean0  mean1  mean2  mean3  mean4
0        40         1   0   0   0    0.0    0.0    0.0    0.0    0.0
1        40         1   0   0   1    0.0    0.0    0.0    0.0    0.0
2        40         1   0   0   2    0.0    0.0    0.0    0.0    0.0
3        40         1   0   0   3    0.0    0.0    0.0    0.0    0.0
4        40         1   0   0   4    0.0    0.0    0.0    0.0    0.0
5        40         1   0   0   5    0.0    0.0    0.0    0.0    0.0
6        40         1   0   0   6    0.0    0.0    0.0    0.0    0.0
7        40         1   0   0   7    0.0    0.0    0.0    0.0    0.0
8        40         1   0   0   8    0.0    0.0    0.0    0.0    0.0
9        40         1   0   0   9    0.0    0.0    0.0    0.0    0.0
10       40         1   0   0  10    0.0    0.0    0.0    0.0    0.0
11       40         1   0   0  11    0.0    0.0    0.0    0.0    0.0
12       40         1   0   0  12    0.0    0.0    0.0    0.0    0.0
13       40         1   0   0  13    0.0    0.0    0.0    0.0    0.0
14       40         1   0   0  14    0.0    0.0    0.0    0.0    0.0
15       40         1   0   0  15    0.0    0.0    0.0    0.0    0.0
16       40         1   0   0  16    0.0    0.0    0.0    0.0    0.0
17       40         1   0   0  17    0.0    0.0    0.0    0.0    0.0
18       40         1   0   0  18    0.0    0.0    0.0    0.0    0.0
19       40         1   0   0  19    0.0    0.0    0.0    0.0    0.0
20       40         1   0   0  20    0.0    0.0    0.0    0.0    0.0
21       40         1   0   0  21    0.0    0.0    0.0    0.0    0.0
22       40         1   0   0  22    0.0    0.0    0.0    0.0    0.0
23       40         1   0   0  23    0.0    0.0    0.0    0.0    0.0
24       40         1   0   0  24    0.0    0.0    0.0    0.0    0.0
25       40         1   0   0  25    0.0    0.0    0.0    0.0    0.0
26       40         1   0   0  26    0.0    0.0    0.0    0.0    0.0
27       40         1   0   0  27    0.0    0.0    0.0    0.0    0.0
28       40         1   0   0  28    0.0    0.0    0.0    0.0    0.0
29       40         1   0   0  29    0.0    0.0    0.0    0.0    0.0
...      ..       ...  ..  ..  ..    ...    ...    ...    ...    ...
1081314  40         6  43  63  34    0.0    0.0    0.0    0.0    0.0
1081315  40         6  43  63  35    0.0    0.0    0.0    0.0    0.0
1081316  40         6  43  63  36    0.0    0.0    0.0    0.0    0.0
1081317  40         6  43  63  37    0.0    0.0    0.0    0.0    0.0
1081318  40         6  43  63  38    0.0    0.0    0.0    0.0    0.0
1081319  40         6  43  63  39    0.0    0.0    0.0    0.0    0.0
1081320  40         6  43  63  40    0.0    0.0    0.0    0.0    0.0
1081321  40         6  43  63  41    0.0    0.0    0.0    0.0    0.0
1081322  40         6  43  63  42    0.0    0.0    0.0    0.0    0.0
1081323  40         6  43  63  43    0.0    0.0    0.0    0.0    0.0
1081324  40         6  43  63  44    0.0    0.0    0.0    0.0    0.0
1081325  40         6  43  63  45    0.0    0.0    0.0    0.0    0.0
1081326  40         6  43  63  46    0.0    0.0    0.0    0.0    0.0
1081327  40         6  43  63  47    0.0    0.0    0.0    0.0    0.0
1081328  40         6  43  63  48    0.0    0.0    0.0    0.0    0.0
1081329  40         6  43  63  49    0.0    0.0    0.0    0.0    0.0
1081330  40         6  43  63  50    0.0    0.0    0.0    0.0    0.0
1081331  40         6  43  63  51    0.0    0.0    0.0    0.0    0.0
1081332  40         6  43  63  52    0.0    0.0    0.0    0.0    0.0
1081333  40         6  43  63  53    0.0    0.0    0.0    0.0    0.0
1081334  40         6  43  63  54    0.0    0.0    0.0    0.0    0.0
1081335  40         6  43  63  55    0.0    0.0    0.0    0.0    0.0
1081336  40         6  43  63  56    0.0    0.0    0.0    0.0    0.0
1081337  40         6  43  63  57    0.0    0.0    0.0    0.0    0.0
1081338  40         6  43  63  58    0.0    0.0    0.0    0.0    0.0
1081339  40         6  43  63  59    0.0    0.0    0.0    0.0    0.0
1081340  40         6  43  63  60    0.0    0.0    0.0    0.0    0.0
1081341  40         6  43  63  61    0.0    0.0    0.0    0.0    0.0
1081342  40         6  43  63  62    0.0    0.0    0.0    0.0    0.0
1081343  40         6  43  63  63    0.0    0.0    0.0    0.0    0.0

[1081344 rows x 10 columns]

In [19]:
np.savetxt(save_path+"fmap_mean_40.txt", result_40.values, fmt="%s")

# Separate -ON

In [15]:
# Without theory data for prediction
def extract_mean_separate_neg(sub_path, experiment):
    print(sub_path)
    cwd_path = sub_path+"/bmaps/"
    result = pd.DataFrame()
    for m in range(len(base_runs)): # mini experiment
        # Bvals
#         for l in range(2):
#             tdir = cwd_path+bp[m][l][0]+"minus"+bp[m][l][1]+"/"
#             theory_img = nib.load(tdir+"Bfieldz_wJ_nT.nii")
#             theory_data = theory_img.get_data()
#             sp = theory_data.shape
#             b_data = []
            
#             neg = 0
#             if l==1:
#                 neg = 1

#             for i in range(sp[0]):
#                 for j in range(sp[1]):
#                     for k in range(sp[2]):
#                         b_data.append([experiment, m+1, i, j, k, neg, theory_data[i][j][k]])
            
#             if l==0:
#                 b_df = pd.DataFrame(b_data, columns=['exp', 'mini_exp', 'i', 'j', 'k', 'neg', 'theory'])
#             else:
#                 b_df2 = pd.DataFrame(b_data, columns=['exp', 'mini_exp', 'i', 'j', 'k', 'neg', 'theory'])

        df = pd.DataFrame()
        df2 = pd.DataFrame()
        new_df = pd.DataFrame()
        new_df2 = pd.DataFrame()
        for n in range(len(base_runs[m])): # 5 runs
            bdir = cwd_path+"base_run_"+base_runs[m][n]+"/"
            print(base_runs[m][n])

            new_data = []    
            new_data2 = [] 
            fmap_img = nib.load(bdir+"4d_fmap_Mean.nii.gz")
            fmap_data = fmap_img.get_data()
            sp = fmap_data.shape  
       
            for i in range(sp[0]):
                for j in range(sp[1]):
                    for k in range(sp[2]):
                        new_data.append([experiment, m+1, i, j, k, 0, fmap_data[i][j][k]])
                        new_data2.append([experiment, m+1, i, j, k, 1, fmap_data[i][j][k]])

            if n<=2:          
                col = "mean"+str(n)
                new_df = pd.DataFrame(new_data, columns=['exp', 'mini_exp', 'i', 'j', 'k', 'neg', col])
            if n>=2:
                col = "mean"+str(n-2)
                new_df2 = pd.DataFrame(new_data2, columns=['exp', 'mini_exp', 'i', 'j', 'k', 'neg', col])
                
            if n == 0:
                df = new_df 
            elif n<=2:
                df = df.merge(new_df, on=['exp', 'mini_exp', 'i', 'j', 'k', 'neg'], sort=False)

            if n == 2:
                df2 = new_df2
            elif n>2:
                df2 = df2.merge(new_df2, on=['exp', 'mini_exp', 'i', 'j', 'k', 'neg'], sort=False)

#         df = df.merge(b_df, on=['exp','mini_exp', 'i', 'j', 'k', 'neg'], sort=False)
#         df2 = df2.merge(b_df2, on=['exp','mini_exp', 'i', 'j', 'k', 'neg'], sort=False)
        
        result = result.append(df, ignore_index=True)
        result = result.append(df2, ignore_index=True)
    return result

In [12]:
result_40 = extract_mean_separate_neg(sub_path_40, '40')

/Users/chikakoolsen/opt/python/thesis/code/tdcs_thesis/data/external/R21_40_Sphere/
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62

In [25]:
# 41
base_runs = [base_runs[0]]
bp = bp[0]

In [26]:
result_41 = extract_mean_separate_neg(sub_path_41, '41')

/Users/chikakoolsen/opt/python/thesis/code/tdcs_thesis/data/external/R21_41_Sphere/
4
6
8
10
12

In [12]:
# 42
base_runs = [['66', '68', '70', '72', '74'],
 ['76', '78', '80', '82', '84'],
 ['86', '88', '90', '92', '94']]
bp =[['68','66'],['72','66'],['68','72']],[['78','76'],['82','76'],['78','82']],[['88','86'],['92','86'],['88','92']]

In [13]:
result_42 = extract_mean_separate_neg(sub_path_42, '42')

/Users/chikakoolsen/opt/python/thesis/code/tdcs_thesis/data/external/R21_42_SphereProto3
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94

In [21]:
# 43 
base_runs = get_even_num()
base_runs = base_runs[3:5]
bp = get_minus_num(base_runs)

In [22]:
result_43 = extract_mean_separate_neg(sub_path_43, '43')

/Users/chikakoolsen/opt/python/thesis/code/tdcs_thesis/data/external/R21_43_Sphere_Proto3
34
36
38
40
42
44
46
48
50
52

In [24]:
# 44
base_runs = get_even_num()
base_runs = base_runs[3:7]
bp = get_minus_num(base_runs)

In [27]:
base_runs

[['34', '36', '38', '40', '42'],
 ['44', '46', '48', '50', '52'],
 ['54', '56', '58', '60', '62']]

In [28]:
result_44 = extract_mean_separate_neg(sub_path_44, '44')

/Users/chikakoolsen/opt/python/thesis/code/tdcs_thesis/data/external/R21_44_Sphere_Proto3
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62

In [29]:
# print(result_40.shape)
# print(result_41.shape)
print(result_42.shape)
print(result_43.shape)
print(result_44.shape)

(1081344, 9)
(720896, 9)
(1081344, 9)

In [30]:
result = result_42.append(result_43, ignore_index=True)
result = result.append(result_44, ignore_index=True)
result

        exp  mini_exp   i   j   k  neg  mean0  mean1  mean2
0        42         1   0   0   0    0    0.0    0.0    0.0
1        42         1   0   0   1    0    0.0    0.0    0.0
2        42         1   0   0   2    0    0.0    0.0    0.0
3        42         1   0   0   3    0    0.0    0.0    0.0
4        42         1   0   0   4    0    0.0    0.0    0.0
5        42         1   0   0   5    0    0.0    0.0    0.0
6        42         1   0   0   6    0    0.0    0.0    0.0
7        42         1   0   0   7    0    0.0    0.0    0.0
8        42         1   0   0   8    0    0.0    0.0    0.0
9        42         1   0   0   9    0    0.0    0.0    0.0
10       42         1   0   0  10    0    0.0    0.0    0.0
11       42         1   0   0  11    0    0.0    0.0    0.0
12       42         1   0   0  12    0    0.0    0.0    0.0
13       42         1   0   0  13    0    0.0    0.0    0.0
14       42         1   0   0  14    0    0.0    0.0    0.0
15       42         1   0   0  15    0    0.0    0.0    0.0
16       42         1   0   0  16    0    0.0    0.0    0.0
17       42         1   0   0  17    0    0.0    0.0    0.0
18       42         1   0   0  18    0    0.0    0.0    0.0
19       42         1   0   0  19    0    0.0    0.0    0.0
20       42         1   0   0  20    0    0.0    0.0    0.0
21       42         1   0   0  21    0    0.0    0.0    0.0
22       42         1   0   0  22    0    0.0    0.0    0.0
23       42         1   0   0  23    0    0.0    0.0    0.0
24       42         1   0   0  24    0    0.0    0.0    0.0
25       42         1   0   0  25    0    0.0    0.0    0.0
26       42         1   0   0  26    0    0.0    0.0    0.0
27       42         1   0   0  27    0    0.0    0.0    0.0
28       42         1   0   0  28    0    0.0    0.0    0.0
29       42         1   0   0  29    0    0.0    0.0    0.0
...      ..       ...  ..  ..  ..  ...    ...    ...    ...
2883554  44         3  43  63  34    1    0.0    0.0    0.0
2883555  44         3  43  63  35    1    0.0    0.0    0.0
2883556  44         3  43  63  36    1    0.0    0.0    0.0
2883557  44         3  43  63  37    1    0.0    0.0    0.0
2883558  44         3  43  63  38    1    0.0    0.0    0.0
2883559  44         3  43  63  39    1    0.0    0.0    0.0
2883560  44         3  43  63  40    1    0.0    0.0    0.0
2883561  44         3  43  63  41    1    0.0    0.0    0.0
2883562  44         3  43  63  42    1    0.0    0.0    0.0
2883563  44         3  43  63  43    1    0.0    0.0    0.0
2883564  44         3  43  63  44    1    0.0    0.0    0.0
2883565  44         3  43  63  45    1    0.0    0.0    0.0
2883566  44         3  43  63  46    1    0.0    0.0    0.0
2883567  44         3  43  63  47    1    0.0    0.0    0.0
2883568  44         3  43  63  48    1    0.0    0.0    0.0
2883569  44         3  43  63  49    1    0.0    0.0    0.0
2883570  44         3  43  63  50    1    0.0    0.0    0.0
2883571  44         3  43  63  51    1    0.0    0.0    0.0
2883572  44         3  43  63  52    1    0.0    0.0    0.0
2883573  44         3  43  63  53    1    0.0    0.0    0.0
2883574  44         3  43  63  54    1    0.0    0.0    0.0
2883575  44         3  43  63  55    1    0.0    0.0    0.0
2883576  44         3  43  63  56    1    0.0    0.0    0.0
2883577  44         3  43  63  57    1    0.0    0.0    0.0
2883578  44         3  43  63  58    1    0.0    0.0    0.0
2883579  44         3  43  63  59    1    0.0    0.0    0.0
2883580  44         3  43  63  60    1    0.0    0.0    0.0
2883581  44         3  43  63  61    1    0.0    0.0    0.0
2883582  44         3  43  63  62    1    0.0    0.0    0.0
2883583  44         3  43  63  63    1    0.0    0.0    0.0

[2883584 rows x 9 columns]

In [31]:
np.savetxt(save_path+"fmap_mean_neg_42to44.txt", result.values, fmt="%s")

In [8]:
# Include theory data
def extract_mean_separate_neg2(sub_path, experiment):
    print(sub_path)
    cwd_path = sub_path+"/NIFTI/bmaps_numpy/"
    result = pd.DataFrame()
    for m in range(len(base_runs)): # mini experiment
        # Bvals
        for l in range(2):
            b_data = []
            tdir = cwd_path+bp[m][l][0]+"minus"+bp[m][l][1]+"/"
            theory_img = nib.load(tdir+"Bfieldz_wJ_nT.nii.gz")
            theory_data = theory_img.get_data()
            sp = theory_data.shape

            neg = 0
            if l==1:
                neg = 1

            for i in range(sp[0]):
                for j in range(sp[1]):
                    for k in range(sp[2]):
                        b_data.append([experiment, m+1, i, j, k, 2, neg, theory_data[i][j][k]])
            
            if l==0:
                b_df = pd.DataFrame(b_data, columns=['exp', 'mini_exp', 'i', 'j', 'k', 'amp', 'neg', 'theory'])
            else:
                b_df2 = pd.DataFrame(b_data, columns=['exp', 'mini_exp', 'i', 'j', 'k', 'amp', 'neg', 'theory'])

        df = pd.DataFrame()
        df2 = pd.DataFrame()
        new_df = pd.DataFrame()
        new_df2 = pd.DataFrame()
        for n in range(len(base_runs[m])): # 5 runs
            bdir = cwd_path+"base_run_"+base_runs[m][n]+"/"
            print(base_runs[m][n])

            new_data = []    
            new_data2 = [] 
            fmap_img = nib.load(bdir+"4d_fmap_Mean.nii.gz")
            fmap_data = fmap_img.get_data()
            sp = fmap_data.shape  
       
            for i in range(sp[0]):
                for j in range(sp[1]):
                    for k in range(sp[2]):
                        new_data.append([experiment, m+1, i, j, k, 2, 0, fmap_data[i][j][k]])
                        new_data2.append([experiment, m+1, i, j, k, 2, 1, fmap_data[i][j][k]])

            if n<=2:          
                col = "mean"+str(n)
                new_df = pd.DataFrame(new_data, columns=['exp', 'mini_exp', 'i', 'j', 'k', 'amp', 'neg', col])
            if n>=2:
                col = "mean"+str(n-2)
                new_df2 = pd.DataFrame(new_data2, columns=['exp', 'mini_exp', 'i', 'j', 'k', 'amp', 'neg', col])
                
            if n == 0:
                df = new_df 
            elif n<=2:
                df = df.merge(new_df, on=['exp', 'mini_exp', 'i', 'j', 'k', 'amp', 'neg'], sort=False)

            if n == 2:
                df2 = new_df2
            elif n>2:
                df2 = df2.merge(new_df2, on=['exp', 'mini_exp', 'i', 'j', 'k', 'amp', 'neg'], sort=False)

        df = df.merge(b_df, on=['exp','mini_exp', 'i', 'j', 'k', 'amp', 'neg'], sort=False)
        df2 = df2.merge(b_df2, on=['exp','mini_exp', 'i', 'j', 'k', 'amp', 'neg'], sort=False)
        
        result = result.append(df, ignore_index=True)
        result = result.append(df2, ignore_index=True)
    return result

In [9]:
# 42
base_runs = [['66', '68', '70', '72', '74'],
 ['76', '78', '80', '82', '84'],
 ['86', '88', '90', '92', '94']]
bp =[['68','66'],['72','66'],['68','72']],[['78','76'],['82','76'],['78','82']],[['88','86'],['92','86'],['88','92']]

In [10]:
result_42 = extract_mean_separate_neg2(sub_path_42, '42')

/Users/chikakoolsen/opt/python/thesis/code/tdcs_thesis/data/external/R21_42_SphereProto3
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94

In [11]:
print(result_42.shape)

(1081344, 11)

In [17]:
1081344*2

2162688

In [12]:
result_42

        exp  mini_exp   i   j   k  amp  neg  mean0  mean1  mean2    theory
0        42         1   0   0   0    2    0    0.0    0.0    0.0  0.578396
1        42         1   0   0   1    2    0    0.0    0.0    0.0  0.584610
2        42         1   0   0   2    2    0    0.0    0.0    0.0  0.590888
3        42         1   0   0   3    2    0    0.0    0.0    0.0  0.597230
4        42         1   0   0   4    2    0    0.0    0.0    0.0  0.603638
5        42         1   0   0   5    2    0    0.0    0.0    0.0  0.610111
6        42         1   0   0   6    2    0    0.0    0.0    0.0  0.616650
7        42         1   0   0   7    2    0    0.0    0.0    0.0  0.623254
8        42         1   0   0   8    2    0    0.0    0.0    0.0  0.629925
9        42         1   0   0   9    2    0    0.0    0.0    0.0  0.636661
10       42         1   0   0  10    2    0    0.0    0.0    0.0  0.643463
11       42         1   0   0  11    2    0    0.0    0.0    0.0  0.650331
12       42         1   0   0  12    2    0    0.0    0.0    0.0  0.657266
13       42         1   0   0  13    2    0    0.0    0.0    0.0  0.664266
14       42         1   0   0  14    2    0    0.0    0.0    0.0  0.671333
15       42         1   0   0  15    2    0    0.0    0.0    0.0  0.678466
16       42         1   0   0  16    2    0    0.0    0.0    0.0  0.685665
17       42         1   0   0  17    2    0    0.0    0.0    0.0  0.692930
18       42         1   0   0  18    2    0    0.0    0.0    0.0  0.700261
19       42         1   0   0  19    2    0    0.0    0.0    0.0  0.707657
20       42         1   0   0  20    2    0    0.0    0.0    0.0  0.715119
21       42         1   0   0  21    2    0    0.0    0.0    0.0  0.722646
22       42         1   0   0  22    2    0    0.0    0.0    0.0  0.730238
23       42         1   0   0  23    2    0    0.0    0.0    0.0  0.737894
24       42         1   0   0  24    2    0    0.0    0.0    0.0  0.745614
25       42         1   0   0  25    2    0    0.0    0.0    0.0  0.753398
26       42         1   0   0  26    2    0    0.0    0.0    0.0  0.761245
27       42         1   0   0  27    2    0    0.0    0.0    0.0  0.769154
28       42         1   0   0  28    2    0    0.0    0.0    0.0  0.777126
29       42         1   0   0  29    2    0    0.0    0.0    0.0  0.785159
...      ..       ...  ..  ..  ..  ...  ...    ...    ...    ...       ...
1081314  42         3  43  63  34    2    1    0.0    0.0    0.0  1.056301
1081315  42         3  43  63  35    2    1    0.0    0.0    0.0  1.079253
1081316  42         3  43  63  36    2    1    0.0    0.0    0.0  1.102821
1081317  42         3  43  63  37    2    1    0.0    0.0    0.0  1.127024
1081318  42         3  43  63  38    2    1    0.0    0.0    0.0  1.151880
1081319  42         3  43  63  39    2    1    0.0    0.0    0.0  1.177409
1081320  42         3  43  63  40    2    1    0.0    0.0    0.0  1.203633
1081321  42         3  43  63  41    2    1    0.0    0.0    0.0  1.230571
1081322  42         3  43  63  42    2    1    0.0    0.0    0.0  1.258246
1081323  42         3  43  63  43    2    1    0.0    0.0    0.0  1.286680
1081324  42         3  43  63  44    2    1    0.0    0.0    0.0  1.315896
1081325  42         3  43  63  45    2    1    0.0    0.0    0.0  1.345917
1081326  42         3  43  63  46    2    1    0.0    0.0    0.0  1.376768
1081327  42         3  43  63  47    2    1    0.0    0.0    0.0  1.408473
1081328  42         3  43  63  48    2    1    0.0    0.0    0.0  1.441057
1081329  42         3  43  63  49    2    1    0.0    0.0    0.0  1.474548
1081330  42         3  43  63  50    2    1    0.0    0.0    0.0  1.508971
1081331  42         3  43  63  51    2    1    0.0    0.0    0.0  1.544354
1081332  42         3  43  63  52    2    1    0.0    0.0    0.0  1.580726
1081333  42         3  43  63  53    2    1    0.0    0.0    0.0  1.618114
1081334  42         3  43  63  54    2    1    0.0    0.0    0.0  1.656549
1081335  42         3  43  63  55    2    1    0.0    0.0    0.0  1.696060
1081336  42         3  43  63  56    2    1    0.0    0.0    0.0  1.736677
1081337  42         3  43  63  57    2    1    0.0    0.0    0.0  1.778432
1081338  42         3  43  63  58    2    1    0.0    0.0    0.0  1.821356
1081339  42         3  43  63  59    2    1    0.0    0.0    0.0  1.865481
1081340  42         3  43  63  60    2    1    0.0    0.0    0.0  1.910840
1081341  42         3  43  63  61    2    1    0.0    0.0    0.0  1.957465
1081342  42         3  43  63  62    2    1    0.0    0.0    0.0  2.005388
1081343  42         3  43  63  63    2    1    0.0    0.0    0.0  2.054645

[1081344 rows x 11 columns]

In [13]:
result_42[(result_42['i']==31) & (result_42['j']==31) & (result_42['k']==31)]

,exp,mini_exp,i,j,k,amp,neg,mean0,mean1,mean2,theory
128991,42,1,31,31,31,2,0,-428.804443,-423.996063,-419.989166,1.050389
309215,42,1,31,31,31,2,1,-419.989166,-414.988373,-412.223663,1.050389
489439,42,2,31,31,31,2,0,-408.556885,-407.544373,-404.744598,1.050389
669663,42,2,31,31,31,2,1,-404.744598,-400.396759,-398.187897,1.050389
849887,42,3,31,31,31,2,0,-395.582428,-395.523163,-393.937317,1.050389
1030111,42,3,31,31,31,2,1,-393.937317,-391.237671,-389.851685,1.050389

In [14]:
np.savetxt(save_path+"fmap_mean_neg_amp_42.txt", result_42.values, fmt="%s")

In [21]:
bp

([['68', '66'], ['72', '66'], ['68', '72']],
 [['78', '76'], ['82', '76'], ['78', '82']],
 [['88', '86'], ['92', '86'], ['88', '92']])

In [22]:
base_runs

[['66', '68', '70', '72', '74'],
 ['76', '78', '80', '82', '84'],
 ['86', '88', '90', '92', '94']]